.container .section {
  max-width: var(--content-width);
  margin: 0 auto;
}
.container .section .title {
  font-family: var(--font-family-en);
  font-weight: 500;
  font-size: var(--font-xlarge);
  color: var(--color-black);
  letter-spacing: 1rem;
  margin-bottom: 6rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: var(--content-width);
  height: 10rem;
}
.header .logo {
  background-color: var(--color-gray-5);
  width: 7.4rem;
  height: 4rem;
  text-align: center;
  transform: rotate(-5deg);
}
.header .logo a {
  font-family: "$font-en";
  src: url("../font/abril-fatface.woff") format("woff");
  font-weight: 400;
  font-size: var(--font-large);
  color: var(--color-gray-0);
}
.header .nav-wrap {
  display: flex;
}
.header .nav-wrap li {
  margin-left: 6rem;
}
.header .nav-wrap li a {
  font-family: "Abril Fatface";
  src: url("../font/abril-fatface.woff") format("woff");
  font-weight: 400;
  font-size: 2.8rem;
  color: var(--color-black);
}

.section.visual {
  position: relative;
  height: 78.4rem;
}
.section.visual .title-wrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.section.visual .title-wrap .title p {
  font-family: var(--font-family-en-2);
  font-weight: 300;
  letter-spacing: normal;
}
.section.visual .title-wrap .desc {
  font-family: var(--font-family-ko);
  font-size: var(--font-small);
}
.section.visual .img-wrap {
  position: absolute;
  width: 58.8rem;
  height: 78.4rem;
  right: 0;
  background: url(../img/title-img.png) no-repeat center/cover;
}
.section.visual .img-wrap img {
  position: absolute;
  bottom: 16.8rem;
  right: 49.8rem;
  width: 18rem;
  height: 18rem;
}

.section.skills {
  padding: 15rem 0;
}
.section.skills .skills-list {
  display: flex;
  flex-wrap: wrap;
}
.section.skills .skills-list li {
  padding: 1.2rem 3rem;
  border-radius: 5rem;
  border: 1px solid #bbb;
  margin: 0 2.4rem 2.4rem 0;
}
.section.skills .skills-list li a {
  font-family: var(--font-family-en-2);
  font-size: var(--font-large);
}

.section.project {
  padding: 15rem 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.porject-swiper .swiper-slide {
  flex-shrink: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.swiper-slide img {
  display: block;
  width: 58rem;
  height: 74rem;
  object-fit: cover;
}

.swiper-slide {
  width: 80%;
}

.swiper-slide:nth-child(2n) {
  width: 60%;
}

.swiper-slide:nth-child(3n) {
  width: 40%;
}

.porject-swiper .text-wrap {
  padding: 3rem 0;
  width: 100%;
}
.porject-swiper .text-wrap .tit {
  margin-bottom: 2rem;
  font-family: var(--font-family-ko);
  font-size: var(--font-large);
  font-weight: 700;
  color: var(--color-black);
}
.porject-swiper .text-wrap .desc {
  margin-bottom: 3rem;
  font-size: var(--font-small);
}
.porject-swiper .text-wrap .more {
  font-family: var(--font-family-en-2);
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-black);
  letter-spacing: 0.2rem;
}